/* <--Main css--> */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

nav ul {
    display: flex;
}

nav a,
nav ul li a {
    font-family: calibri;
    font-size: 15px;
    color: cadetblue;
    margin: 25px;
    text-decoration: none;
}

li {
    list-style: none;
}

.section-1 {
    background-color: yellow;
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.section-1-left {
    background-color: cadetblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 5rem;
    margin-right: -20vw;
    left: 10vw;
}



div.parallax {
display:flex;
position: relative;
}

.div_parallax-text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}

.section-2 {
    background-color: brown;
    position: relative;
    width: 100vw;
    height: 53vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2-left {
    width: 50vw;
}

.section-2-right {
    background-color: cadetblue;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.section-3 {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3-header {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100vw;
    height: 25vh;
    text-align: center;
}

.section-3-bottom {
    display: flex;
    flex-wrap: wrap;
}

.section-3-bottom div {
    background-color: cadetblue;
    width: 25vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-header {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100vw;
    height: 25vh;
    text-align: center;
}

.servicio {
    width: 18%;
    height: 400px;
    background-color: white;
}

.servicio img {
    max-width: 100%;
    height: 180px;
}

.servicio h1 {
    color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-family: 'Poppins';
}


/*

.first-absolute {
position: relative;
bottom: 400px;
text-align: center;
height: 450px;
}

.first {
  position: relative;
  top: 100px;
  text-align: center;
  background: #2A7C6F;
  z-index: 1;
  height: 400px;
}

.info-box1{
  position: relative;
  left: -139px;
  color: white;
  padding: 20px;
  max-width: 470px;
}

.info-box2{
  color: white;
  padding: 20px;
  max-width: 770px;
}

.second-absolute {
position: relative;
bottom: 300px;
right: 322px;
text-align: center;
height: 450px;
width: auto;
}

.second {
  position: relative;
  left: 835px;
  bottom: 750px;
  text-align: center;
  background: #2A7C6F;
  height: 500px;
  width: auto;
}


.container-img2 {
  position: relative;
  bottom: 650px;
  left: 300px;
  text-align: center;
  color: white;
  height: 300px;
  width: 1000px;
}

.text-img2 {
  position: absolute;
  left: 1500px;
  top: 150px;

}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -570px;
  }


.container-3 div {
    padding: 10px;
}

.container3 div{
    flex-direction: column;
    padding: 10px;
}

.container-img3 {
  position: relative;
  top: -540px;
  left: 300px;
  text-align: center;
  color: white;
  height: 300px;
  width: 1000px;
}

.text-img3 {
  position: absolute;
  top: 150px;
  left: 1500px;
}



.container-4 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top:-465px;
}

.container-4 div{
    flex-direction: column;
    padding: 10px;
}

.text-img5 {
  position: absolute;
  left: 107px;
  color: white;
}

h3.text-img5{
position: relative;
bottom: 120px;
}*/
/* FOOTER SECTION */


.footer {
    color: white;
    padding: 2px;
    max-width: 20000px;
}


footer{
    background-color: #869bbf;
    text-align: center;

}

.footnote{
    padding: 10px 0 30px;
    color: #fff;
    font-size: 30px;
}

.highlight{
    color: rgb(38, 255, 56);
}
