body{
  font-family: 'Poppins';
  margin: o;
  padding:0;
}

p{
   font-size: 20px;
    }
    
    li{
      list-style: none;
      margin-right: 25px;
    }
    
    #primero{
      font-size: 30px;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul{
      display: flex;
    }
    a{
      text-decoration: none;
      
    }
    .titular {
      text-align: center;
      margin-top:200px;;
    }
    h1{
      font-size:60px;
      margin:0;
    }
    h2{
      font-size: 25px;
      margin-bottom: 40px;
    }
    
    a{
      font-size: 14px;
      background:#5DB28E;
      padding:20px 30px 20px 30px;
      color:white;
    }

    header {
      background:url();
      height: 100vh;
      background-size: cover;

    }

    .contenedor {
      max-width: 1280px;
      width:90%;
      margin: auto;
    }
    .segundo{
      display: flex;
    }